---
import { db, Todo } from 'astro:db'
import TodoItem from '@components/Todo.astro'
import CreateTodoForm from '@components/CreateTodoForm.astro'

const todos = await db.select().from(Todo).all()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + HTMX</title>
		<script is:inline src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
	</head>
	<body class="px-4 py-2 bg-slate-900 text-gray-50">
		<CreateTodoForm />
		<div class="mt-4">
			<h1 class="text-lg underline">Mis tareas</h1>
			<ul id="todos">
				{
					todos.map(todo => (
						<TodoItem todo={todo} />
					))
				}
			</ul>
		</div>
	</body>
</html>
