---
import { db, eq, Todo } from "astro:db"

const { id } = Astro.params

const todo = await db.select().from(Todo).where(eq(Todo.id, String(id))).then(data => data[0])
---

<form hx-put=`/partials/todos/${id}` hx-target=`#${id}`>
  <input
    type="text"
    name="text"
    value={todo.text}
  />
</form>