---
import Button from "./UI/Button.astro";
---

<form
  hx-post="/partials/todos"
  hx-target="#todos"
  hx-swap="beforeend"
  hx-on::after-request="this.reset()"
>
  <input
    class="rounded border px-2 py-1 bg-slate-800" 
    type="text"
    name="text"
    id="todo"
    placeholder="Agrega una tarea"
  >
  <Button type="submit">Añadir</Button>
</form>